extends ../base.pug

block content
  h3 Customer Details

  table.table.table-striped#dashboardTable(style="width:100%")
    tr
      th Customer Id
      th Customer Name
      th First Name
      th Last Name
      th Customer Type
      th Created Date
      th Last Modified Date
      th City
      th Country
      th SSN
    tr.tabledata(style='color:red')
      td= customer.id
      td= customer.name
      td= customer.firstName
      td= customer.lastName
      td= customer.customerType
      td= customer.createdDate
      td= customer.lastModifiedDate
      td= customer.City
      td= customer.country
      td= customer.SSN

